<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <% if scope_constants.any? %>
        <p><strong>Constants</strong></p>
        <ul class="list-unstyled">
          <% scope_constants.each do |symbol| %>
            <li><%= symbol_link(symbol, qualified_name: false).html %></li>
          <% end %>
        </ul>
      <% end %>
      <% if scope_properties.any? %>
        <p><strong>Properties</strong></p>
        <ul class="list-unstyled">
          <% scope_properties.each do |symbol| %>
            <li><%= symbol_link(symbol, qualified_name: false, anchor: true).html %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="col-sm-9">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title"><%= @fully_qualified_name.split("::").last %></h1>

        <% @symbols.each do |symbol| %>
          <% if symbol.comment_string %>
            <p><%= symbol.comment_string %></p>
          <% end %>
        <% end %>
        <% @symbols.each do |symbol| %>
          <% if symbol.sig_string %>
            <pre class="bg-light"><code><%= symbol.sig_string %></code></pre>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if scope_properties.any? %>
      <h3 class="mt-3">Properties</h3>
      <% scope_properties.each do |symbol| %>
        <%= symbol_card(symbol).html %>
      <% end %>
    <% end %>
  </div>
</div>
