<table style="width: 100%">
  <tr>
    <td style="vertical-align: top; width: 30%">
      <% if scope_constants.any? %>
        <h4>Constants</h4>
        <% scope_constants.each do |symbol| %>
          <a href="<%= link_to_symbol(symbol) %>"><%= symbol.name %></a><br>
        <% end %>
      <% end %>
      <% if scope_properties.any? %>
        <h4>Properties</h4>
        <% scope_properties.each do |symbol| %>
          <a href="<%= link_to_symbol(symbol) %>"><%= symbol.name %></a><br>
        <% end %>
      <% end %>
    </td>
    <td style="vertical-align: top">
      <h2><%= @fully_qualified_name %></h2>
      <% @symbols.each do |symbol| %>
        <% if symbol.comment_string %>
          <p><%= symbol.comment_string %></p>
        <% end %>
      <% end %>
      <% @symbols.each do |symbol| %>
        <% if symbol.sig_string %>
          <pre><code><%= symbol.sig_string %></code></pre>
        <% end %>
      <% end %>
      <% scope_properties.each do |symbol| %>
        <h4><%= symbol.name %></h3>
        <% if symbol.comment_string %>
          <p><%= symbol.comment_string %></p>
        <% end %>
        <% if symbol.sig_string %>
          <pre><code><%= symbol.sig_string %></code></pre>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
